@model  Synzeal_Inventory.Entity.SZ_QuotationDetail
@{
    ViewBag.Title = "Company";
    Layout = null;
}
<div class="col-md-12" style="font-family:Cambria">
    <div class="box box-primary">
        <div class="box-header with-border">
            <img title="SynZeal" alt="SynZeal" style="width:280px; height:80px;" src="https://synzeal.com/Themes/DefaultClean/Content/images/logo.png">
        </div>
        <p style="text-align:center; font-weight: bold; font-size:22px;">
            TOXIC SUBSTANCE CONTROL ACT (TSCA) <br />
            CERTIFICATION
        </p>
        <p style="text-align:left">
            Date: 14th June 2021 <br />
            (CHECK ONE SECTION ONLY)
        </p>
        <p style="text-align:left">
            POSITIVE CERTIFICATION
        </p>
        <p>
            ____________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____
        </p>
        <p>
            "I certify that all chemical substances in this shipment
            comply with all applicable rules or orders under TSCA
            and that I am not offering a chemical substance for
            entry in violation of TSCA or any applicable rule
            order thereunder."
        </p>
        <p style="text-align:center">
            OR
        </p>
        <p>
            NEGATIVE CERTIFICATION
        </p>
        <p>
            __________√____________	"I certify that all chemical substances in this shipment
            are not subject to TSCA."
        </p>

        <p>
            <b>Company Name:</b> SynZeal Research Private Limited
        </p><p>
            <b>Company Address:</b> Plot No. F, Ganesh Industrial Estate, 423/24/8, Mahagujarat Industrial                    Estate, Sarkhej-Bavla Road, Moraiya, Ahmedabad 382213, Gujarat, INDIA
        </p><p>
            <b>City/State:</b> Ahmedabad / Gujarat
        </p><p>
            <b>Country/Zip:</b> India
        </p>
        @*<p>
            <b>Authorized Name:</b> Mayur Nandkar
        </p>*@
        <p>
            <b>Authorized Signature:</b>
        </p><p>
            <b>Title:</b> Export Department
        </p><p>
            <b>Federal Express AWB#:</b> 7745 3907 4875
        </p>

        <p>
            If the certifier is unsure if their chemical substance is subject to TSCA compliance,
            Contact the Environmental Protection Agency, TSCA Assistance Office, Washington,
            D.C. (202) 554-1404 between 8:30 am and 5:00 pm EST.

        </p>

        <p style="text-align:left">
            Revised May 7, 1990
        </p>
        <p style="text-align:right">
            toxic.392
        </p>
    </div>
</div>
