@model  Synzeal_Inventory.Entity.SZ_InvoiceData
@{
    ViewBag.Title = "Company";
    Layout = null;
}
<div class="col-md-12" style="font-family:Cambria">
    <div class="box box-primary">
        <div class="box-header with-border">
            <img title="SynZeal" alt="SynZeal" style="width:280px; height:80px;" src="https://synzeal.com/Themes/DefaultClean/Content/images/logo.png" />
        </div>
        <p style="text-align:right">
            Date: @Model.InvoiceDate.ToString("dd/MM/yyyy")
        </p>
        <p style="text-align:center; font-weight: bold; font-size:21px; text-decoration: underline">
            USDA STATEMENT
        </p>
        <p style="text-align:left; font-weight: bold; font-size:12px; text-decoration: underline">
            NAME OF ACTUAL DRUG:
        </p>
        <p>
            @if (Model.SZ_InvoiceDetailsData != null && Model.SZ_InvoiceDetailsData.Count > 0)
            {
                int loop = 1;
                foreach (var item in Model.SZ_InvoiceDetailsData)
                {
                    <span>@loop<span>.</span> @item.ProductName<br /></span>
                    loop += 1;
                }
            }
        </p>
        <br /><br />
        <p>
            MATERIAL SAFETY DATA SHEET AVAILABLE: YES
        </p><br /><p>
            MATERIAL IS CHEMICALLY SYNTHESIZED: YES
        </p><br /><p>
            MATERIAL WILL USED ON HUMAN: NO
        </p><br /><p>
            Material was not derived from any animal or cell culture derived products.
        </p><br /><p>
            Material does not contain any animal or cell culture derived products or additives such as albumin or serum.
        </p>
        <br />
        <p style="text-align:left; font-weight: bold; text-decoration: underline">
            Contents:
        </p>
        <p>
            LAB TESTING ONLY OR FDA Application #:
            TSCA (Toxic substance control act statement):
        </p>
        <p><br /><br />
            Kind regards, <br />
            @*<b>Mayur Nandkar</b> <br />*@
            <b>Export Department</b> <br />
            <b>SynZeal Research Private Limited</b>
        </p>
    </div>
</div>
