@{
    ViewBag.Title = "Add Scientist Status";
    Layout = null;
}
@model  Synzeal_Inventory.Entity.SZ_ScientistStatus
<!-- left column -->
<div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Add New Scientist Status</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Scientist Status</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Scientist Status" required value="@Model.Name">
                    <input type="hidden" id="compid" name="compid" value="@Model.Id" />
                </div>
                <div class="form-group" style="text-align:right">
                    <button type="button" onclick="Quote.addScientistStatusList()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
