@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<SZ_Notification>
@using Synzeal_Inventory.Entity
<style type="text/css">
    #example1 input {
        border: 0px;
    }
</style>
<section class="content-header">
    <h1>
        Notification
    </h1>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">

                <div id="home" class="tab-pane fade in active">
                    <!-- /.box-header -->
                    <div class="box-body" style="overflow:scroll;" id="divProj">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Message</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    int forloop = 1;
                                    foreach (var i in Model.OrderByDescending(x => x.CreatedDate).ToList())
                                    {

                                        <tr>
                                            <td>@i.Message</td>
                                            <td>
                                                @if (!i.IsRead)
                                                {
                                                    <a href="javascript:void(0)" onclick="viewnotification('@i.Id')">Mark As Read</a>
                                                }
                                                else
                                                {
                                                    <span>Read</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </div>
</section>
<script>

    function viewnotification(id) {
        $.ajax({
            url: '/Form/ViewNotification?id=' + id,
            data: { id: id },
            type: 'POST',
            traditional: true, // add this
            dataType: 'json',
            success: function (data) {
                toastr.success( "Notification marked as read.");
            }
        });
    }
</script>