@{
    ViewBag.Title = "Company";
    Layout = null;
}
@model  Synzeal_Inventory.Entity.SZ_CompanyList
<!-- left column -->
<div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Transfer Company</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Company Name : </label>
                    <label>@Model.Name</label>
                    <input type="hidden" id="compid" name="compid" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Transfer Company Name</label>
                    @Html.DropDownList("TransferCompanyId", (IEnumerable<SelectListItem>)ViewBag.compList, new { @class = "form-control" })
                </div>
                <div class="form-group" style="text-align:right">
                    <button type="button" onclick="Quote.transferCompanyData(false)" class="btn btn-primary" id="btntransferfalse">Transfer</button>
                    <button type="button" onclick="Quote.transferCompanyData(true)" class="btn btn-danger" id="btntransfertrue">Transfer & Delete</button>
                </div>
                <p style="color:red">Note: System will take some time to assign all quote records to another company. Please wait until not complete all process.</p>
            </div>
        </form>
    </div>
</div>