<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ftpUser" value="synzeal"/>
    <add key="ftpPassword" value="Syn@zeal123$$$!!!"/>
    <add key="ftpServer" value="132.148.158.90"/>
    <add key="sourcedir" value="F:\PARTHSUTHAR_TEST"/>
  <add key="days" value="4"/>
  </appSettings>
</configuration>
