<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="@Url.Action("QuotationList","Form")">
                    <i class="fa fa-file"></i> <span>Quotation List</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Quote","Form", new { id = 0})">
                    <i class="fa fa-edit"></i> <span>Generate Quotation</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("PendingUpload","Form")">
                    <i class="fa fa-upload"></i> <span>Pending Upload</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Terms","Form")">
                    <i class="fa fa-gear"></i> <span>Terms Setting</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>